<!-- Validation failure messages -->
<% if @lead.errors.any? %>
  <% @lead.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Lead <%= @lead.dw_agn %> <%= @lead.batchno %>-<%= @lead.recno %> <%= @lead.firstname %> <%= @lead.lastname %></h3>
</div>
<div class="col-xs-6"><%= @lead.firstname %> <%= @lead.lastname %><br>
  <%= @lead.address %><br>
  <%= @lead.city %>, <%= @lead.state %>  <%= @lead.zip %><br>
  <% if @lat != nil  %><img src="https://maps.googleapis.com/maps/api/staticmap?center=<%= @lat %>,<%= @long %>&zoom=17&size=400x400&key=AIzaSyCcx5KIGriBpoW_IVL6XPF0ATamX7zg8vc" alt=""><% end  %><br><br>

</div>
<div class="col-xs-6">      <dt>Status</dt>
      <dd><%= @lead.status %></dd><br><a href="/pngs/<%= @lead.pdf %>.png" class="thumbnail"><img src="/pngs/<%= @lead.pdf %>.png" class="img-responsive" width="230" height="175" alt="Responsive image"></a><br><br>

      <form action="/update_lead/<%= @lead.id %>" method="post">
        <!-- Hidden input for authenticity token to protect from forgery -->
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

        <!-- Label and input for firstname -->



          <input type="hidden" id="firstname" name="firstname" placeholder="Firstname"  class="form-control" value="<%= @lead.firstname %>">


          <input type="hidden" id="lastname" name="lastname" placeholder="Lastname" class="form-control" value="<%= @lead.lastname %>">



        <!-- Label and input for address -->
        <div class="form-group">


          <input type="hidden" id="address" name="address" placeholder="Address" class="form-control" value="<%= @lead.address %>">
        </div>

        <!-- Label and input for city -->
        <div class="form-group">


          <input type="hidden" id="city" name="city" placeholder="City" class="form-control" value="<%= @lead.city %>">
        </div>

        <!-- Label and input for state -->
        <div class="form-group">


          <input type="hidden" id="state" name="state" placeholder="State" class="form-control" value="<%= @lead.state %>">
        </div>

        <!-- Label and input for zip -->
        <div class="form-group">


          <input type="hidden" id="zip" name="zip" placeholder="Zip" class="form-control" value="<%= @lead.zip %>">
        </div>

        <!-- Label and input for status -->
        <div class="form-group">
          <label for="status" class="control-label">
            Status
          </label>
          <%= select_tag(:status, options_for_select([['Pending', 'Pending'], ['Sold', 'Sold'], ['Callback', 'Callback'], ['Appointment', 'Appointment'],  ['Closed', 'Closed']]), :class => "form-control")%>

        </div>

        <div class="form-group">
          <label for="policy" class="control-label">
            Policy Type
          </label>

          <%= select_tag(:policy, options_for_select([['None', 'None'],['Whole Life Policy', 'Whole Life Policy'], ['Term Life Policy', 'Term Life Polict'], ['Hybrid Policy', 'Hybrid']]), :class => "form-control")%> </div>

        <!-- Label and input for premium -->
        <div class="form-group">
          <label for="premium" class="control-label">
            Premium Amount
          </label>

          <input type="text" id="premium" name="premium" placeholder="Premium" class="form-control" value="<%= @lead.premium %>">
        </div>

        <!-- Label and input for pdf -->
        <div class="form-group">


          <input type="hidden" id="pdf" name="pdf" placeholder="Pdf" class="form-control" value="<%= @lead.pdf %>">
        </div>


        <div class="form-group">
          <label for="agent_id" class="control-label">
            Agent
          </label>
          <%= select_tag(:agent_id, options_from_collection_for_select(Agent.all, :id, :code, @lead.agent_id), :class => "form-control")%>

        </div>

        <div class="form-group">
          <label for="agent_id" class="control-label">
            Agency
          </label>
          <%= select_tag(:agency_id, options_from_collection_for_select(Agency.all, :id, :code), :class => "form-control")%>

        </div>

        <input type="hidden" name="agency_id" value="<%= current_agent.agency_id %>">

        <div class="form-group">
          <label for="occupation" class="control-label">
            Occupation
          </label>

          <input type="text" id="occupation" name="occupation" placeholder="Occupation" class="form-control" value="<%= @lead.occupation %>">
        </div>
        <!-- Label and input for hphone -->
        <div class="form-group">
          <label for="hphone" class="control-label">
            Phone
          </label>

          <input type="text" id="hphone" name="hphone" placeholder="Hphone" class="form-control" value="<%= @lead.hphone %>">
        </div>

        <!-- Label and input for wphone -->
        <div class="form-group">


          <input type="hidden" id="wphone" name="wphone" placeholder="Wphone" class="form-control" value="<%= @lead.wphone %>">
        </div>

        <!-- Label and input for cphone -->
        <div class="form-group">


          <input type="hidden" id="cphone" name="cphone" placeholder="Cphone" class="form-control" value="<%= @lead.cphone %>">
        </div>

        <!-- Label and input for dob -->
        <div class="form-group">


          <input type="hidden" id="dob" name="dob" placeholder="<%= @lead.dob %>" class="form-control" value="<%= @lead.dob %>">
        </div>

        <!-- Label and input for sdob -->
        <div class="form-group">

          <input type="hidden" id="sdob" name="sdob" placeholder="Sdob" class="form-control" value="<%= @lead.sdob %>">
        </div>

        <!-- Label and input for smoker -->


        <!-- Label and input for email -->
        <div class="form-group">
          <label for="email" class="control-label">
            Email Address
          </label>

          <input type="text" id="email" name="email" placeholder="Email" class="form-control" value="<%= @lead.email %>">
        </div>

        <!-- Label and input for notes -->
        <div class="form-group">
          <label for="notes" class="control-label">
            Notes
          </label>

          <textarea id="notes" name="notes" placeholder="Notes" class="form-control" rows="3"><%= @lead.notes %></textarea>
        </div>

        <!-- Label and input for occupation -->


        <!-- Label and input for policy -->






        <!-- Label and input for mortamt -->
        <div class="form-group">


          <input type="hidden" id="mortamt" name="mortamt" placeholder="Mortamt" class="form-control" value="<%= @lead.mortamt %>">
        </div>

        <!-- Label and input for batchno -->
        <div class="form-group">


          <input type="hidden" id="batchno" name="batchno" placeholder="Batchno" class="form-control" value="<%= @lead.batchno %>">
        </div>

        <!-- Label and input for recno -->
        <div class="form-group">

          <input type="hidden" id="recno" name="recno" placeholder="Recno" class="form-control" value="<%= @lead.recno %>">
        </div>

        <!-- Label and input for dw_agn -->
        <div class="form-group">


          <input type="hidden" id="dw_agn" name="dw_agn" placeholder="Dw agn" class="form-control" value="<%= @lead.dw_agn %>">
        </div>

        <button class="btn btn-warning">
          Update Lead
        </button>
        or
        <a href="/leads/<%= @lead.id %>">Cancel</a>
      </form>



    </div>
