<div class="page-header">
  <h1>
    Leads for <%= current_agent.firstname %> <%= current_agent.lastname %><br><br>
    <a href="/leads/new" class="btn btn-lg btn-success">New Lead</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Date</th>
        <th>Code</th>
        <th>Name</th>
        <th>Status</th>
        <th>Agent</th>
        <th>Agency</th>>
        <th>Image</th>
        <th>Actions</th>
      </tr>

      <% @leads.each do |lead| %>
      <tr>
        <td><%= lead.created_at.to_date %></td>
        <td><%= lead.dw_agn %> <%= lead.batchno %>-<%= lead.recno %></td>
        <td><%= lead.firstname %> <%= lead.lastname %></td>
        <td><%= lead.status %></td>
        <td><%= lead.agent.code %></td>
        <td><%= lead.agency.code %></td>
        <td><a href="/pngs/<%= lead.pdf %>.png" class="thumbnail"><img src="/pngs/<%= lead.pdf %>.png" class="img-thumbnail" width="115" height="87" alt="Responsive image"></a></td>


        <td>
          <a href="/leads/<%= lead.id %>" class="btn btn-primary">Show</a>
          <a href="/leads/<%= lead.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_lead/<%= lead.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
