<!-- Validation failure messages -->
<% if @lead.errors.any? %>
  <% @lead.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Lead</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_lead" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for firstname -->
      <div class="form-group">
        <label for="firstname" class="control-label">
          Firstname
        </label>

        <input type="text" id="firstname" name="firstname" placeholder="Firstname" class="form-control" value="<%= @lead.firstname %>">
      </div>

      <!-- Label and input for lastname -->
      <div class="form-group">
        <label for="lastname" class="control-label">
          Lastname
        </label>

        <input type="text" id="lastname" name="lastname" placeholder="Lastname" class="form-control" value="<%= @lead.lastname %>">
      </div>

      <!-- Label and input for address -->
      <div class="form-group">
        <label for="address" class="control-label">
          Address
        </label>

        <input type="text" id="address" name="address" placeholder="Address" class="form-control" value="<%= @lead.address %>">
      </div>

      <!-- Label and input for city -->
      <div class="form-group">
        <label for="city" class="control-label">
          City
        </label>

        <input type="text" id="city" name="city" placeholder="City" class="form-control" value="<%= @lead.city %>">
      </div>

      <!-- Label and input for state -->
      <div class="form-group">
        <label for="state" class="control-label">
          State
        </label>

        <input type="text" id="state" name="state" placeholder="State" class="form-control" value="<%= @lead.state %>">
      </div>

      <!-- Label and input for zip -->
      <div class="form-group">
        <label for="zip" class="control-label">
          Zip
        </label>

        <input type="text" id="zip" name="zip" placeholder="Zip" class="form-control" value="<%= @lead.zip %>">
      </div>

      <!-- Label and input for status -->
      <div class="form-group">
        <label for="status" class="control-label">
          Status
        </label>

        <input type="text" id="status" name="status" placeholder="Status" class="form-control" value="<%= @lead.status %>">
      </div>





      <!-- Label and input for agent_id -->
      <div class="form-group">
        <label for="agent_id" class="control-label">
          Agent
        </label>

        <input type="text" id="agent_id" name="agent_id" placeholder="Agent" class="form-control" value="<%= @lead.agent_id %>">
      </div>

      <!-- Label and input for hphone -->
      <div class="form-group">
        <label for="hphone" class="control-label">
          Hphone
        </label>

        <input type="text" id="hphone" name="hphone" placeholder="Hphone" class="form-control" value="<%= @lead.hphone %>">
      </div>


      <!-- Label and input for dob -->
      <div class="form-group">
        <label for="dob" class="control-label">
          Dob
        </label>

        <input type="text" id="dob" name="dob" placeholder="Dob" class="form-control" value="<%= @lead.dob %>">
      </div>




      <!-- Label and input for email -->
      <div class="form-group">
        <label for="email" class="control-label">
          Email
        </label>

        <input type="text" id="email" name="email" placeholder="Email" class="form-control" value="<%= @lead.email %>">
      </div>

      <!-- Label and input for notes -->
      <div class="form-group">
        <label for="notes" class="control-label">
          Notes
        </label>

        <textarea id="notes" name="notes" placeholder="Notes" class="form-control" rows="3"><%= @lead.notes %></textarea>
      </div>

      <!-- Label and input for occupation -->
      <div class="form-group">
        <label for="occupation" class="control-label">
          Occupation
        </label>

        <input type="text" id="occupation" name="occupation" placeholder="Occupation" class="form-control" value="<%= @lead.occupation %>">
      </div>


      <!-- Label and input for agency_id -->
      <div class="form-group">
        <label for="agency_id" class="control-label">
          Agency
        </label>

        <input type="text" id="agency_id" name="agency_id" placeholder="Agency" class="form-control" value="<%= @lead.agency_id %>">
      </div>

      <!-- Label and input for bullet1 -->



      <!-- Label and input for bullet5 -->

      <!-- Label and input for bullet7 -->


      <!-- Label and input for mortamt -->


      <!-- Label and input for batchno -->


      <!-- Label and input for recno -->


      <!-- Label and input for dw_agn -->


      <button class="btn btn-success">
        Create Lead
      </button>
      or
      <a href="/leads">Cancel</a>
    </form>
  </div>
</div>
