<!-- Validation failure messages -->
<% if @lead.errors.any? %>
  <% @lead.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Lead</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_lead" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for firstname -->
      <div class="form-group">
        <label for="firstname" class="control-label">
          Firstname
        </label>

        <input type="text" id="firstname" name="firstname" placeholder="Firstname" class="form-control" value="<%= @lead.firstname %>">
      </div>

      <!-- Label and input for lastname -->
      <div class="form-group">
        <label for="lastname" class="control-label">
          Lastname
        </label>

        <input type="text" id="lastname" name="lastname" placeholder="Lastname" class="form-control" value="<%= @lead.lastname %>">
      </div>

      <!-- Label and input for address -->
      <div class="form-group">
        <label for="address" class="control-label">
          Address
        </label>

        <input type="text" id="address" name="address" placeholder="Address" class="form-control" value="<%= @lead.address %>">
      </div>

      <!-- Label and input for city -->
      <div class="form-group">
        <label for="city" class="control-label">
          City
        </label>

        <input type="text" id="city" name="city" placeholder="City" class="form-control" value="<%= @lead.city %>">
      </div>

      <!-- Label and input for state -->
      <div class="form-group">
        <label for="state" class="control-label">
          State
        </label>

        <input type="text" id="state" name="state" placeholder="State" class="form-control" value="<%= @lead.state %>">
      </div>

      <!-- Label and input for zip -->
      <div class="form-group">
        <label for="zip" class="control-label">
          Zip
        </label>

        <input type="text" id="zip" name="zip" placeholder="Zip" class="form-control" value="<%= @lead.zip %>">
      </div>

      <!-- Label and input for status -->
      <div class="form-group">
        <label for="status" class="control-label">
          Status
        </label>

        <input type="text" id="status" name="status" placeholder="Status" class="form-control" value="<%= @lead.status %>">
      </div>

      <!-- Label and input for premium -->
      <div class="form-group">
        <label for="premium" class="control-label">
          Premium
        </label>

        <input type="text" id="premium" name="premium" placeholder="Premium" class="form-control" value="<%= @lead.premium %>">
      </div>

      <!-- Label and input for pdf -->
      <div class="form-group">
        <label for="pdf" class="control-label">
          Pdf
        </label>

        <input type="text" id="pdf" name="pdf" placeholder="Pdf" class="form-control" value="<%= @lead.pdf %>">
      </div>

      <!-- Label and input for agent_id -->
      <div class="form-group">
        <label for="agent_id" class="control-label">
          Agent
        </label>

        <input type="text" id="agent_id" name="agent_id" placeholder="Agent" class="form-control" value="<%= @lead.agent_id %>">
      </div>

      <!-- Label and input for hphone -->
      <div class="form-group">
        <label for="hphone" class="control-label">
          Hphone
        </label>

        <input type="text" id="hphone" name="hphone" placeholder="Hphone" class="form-control" value="<%= @lead.hphone %>">
      </div>

      <!-- Label and input for wphone -->
      <div class="form-group">
        <label for="wphone" class="control-label">
          Wphone
        </label>

        <input type="text" id="wphone" name="wphone" placeholder="Wphone" class="form-control" value="<%= @lead.wphone %>">
      </div>

      <!-- Label and input for cphone -->
      <div class="form-group">
        <label for="cphone" class="control-label">
          Cphone
        </label>

        <input type="text" id="cphone" name="cphone" placeholder="Cphone" class="form-control" value="<%= @lead.cphone %>">
      </div>

      <!-- Label and input for dob -->
      <div class="form-group">
        <label for="dob" class="control-label">
          Dob
        </label>

        <input type="text" id="dob" name="dob" placeholder="Dob" class="form-control" value="<%= @lead.dob %>">
      </div>

      <!-- Label and input for sdob -->
      <div class="form-group">
        <label for="sdob" class="control-label">
          Sdob
        </label>

        <input type="text" id="sdob" name="sdob" placeholder="Sdob" class="form-control" value="<%= @lead.sdob %>">
      </div>

      <!-- Label and input for smoker -->
      <div class="checkbox">
        <label for="smoker">
          <input type="checkbox" id="smoker" name="smoker" value="1" <%= "checked" if @lead.smoker %>>
          Smoker
        </label>
      </div>

      <!-- Label and input for spousesmoke -->
      <div class="checkbox">
        <label for="spousesmoke">
          <input type="checkbox" id="spousesmoke" name="spousesmoke" value="1" <%= "checked" if @lead.spousesmoke %>>
          Spousesmoke
        </label>
      </div>

      <!-- Label and input for email -->
      <div class="form-group">
        <label for="email" class="control-label">
          Email
        </label>

        <input type="text" id="email" name="email" placeholder="Email" class="form-control" value="<%= @lead.email %>">
      </div>

      <!-- Label and input for notes -->
      <div class="form-group">
        <label for="notes" class="control-label">
          Notes
        </label>

        <textarea id="notes" name="notes" placeholder="Notes" class="form-control" rows="3"><%= @lead.notes %></textarea>
      </div>

      <!-- Label and input for occupation -->
      <div class="form-group">
        <label for="occupation" class="control-label">
          Occupation
        </label>

        <input type="text" id="occupation" name="occupation" placeholder="Occupation" class="form-control" value="<%= @lead.occupation %>">
      </div>

      <!-- Label and input for policy -->
      <div class="form-group">
        <label for="policy" class="control-label">
          Policy
        </label>

        <input type="text" id="policy" name="policy" placeholder="Policy" class="form-control" value="<%= @lead.policy %>">
      </div>

      <!-- Label and input for agency_id -->
      <div class="form-group">
        <label for="agency_id" class="control-label">
          Agency
        </label>

        <input type="text" id="agency_id" name="agency_id" placeholder="Agency" class="form-control" value="<%= @lead.agency_id %>">
      </div>

      <!-- Label and input for bullet1 -->
      <div class="form-group">
        <label for="bullet1" class="control-label">
          Bullet1
        </label>

        <input type="text" id="bullet1" name="bullet1" placeholder="Bullet1" class="form-control" value="<%= @lead.bullet1 %>">
      </div>

      <!-- Label and input for bullet2 -->
      <div class="form-group">
        <label for="bullet2" class="control-label">
          Bullet2
        </label>

        <input type="text" id="bullet2" name="bullet2" placeholder="Bullet2" class="form-control" value="<%= @lead.bullet2 %>">
      </div>

      <!-- Label and input for bullet3 -->
      <div class="form-group">
        <label for="bullet3" class="control-label">
          Bullet3
        </label>

        <input type="text" id="bullet3" name="bullet3" placeholder="Bullet3" class="form-control" value="<%= @lead.bullet3 %>">
      </div>

      <!-- Label and input for bullet4 -->
      <div class="form-group">
        <label for="bullet4" class="control-label">
          Bullet4
        </label>

        <input type="text" id="bullet4" name="bullet4" placeholder="Bullet4" class="form-control" value="<%= @lead.bullet4 %>">
      </div>

      <!-- Label and input for bullet5 -->
      <div class="form-group">
        <label for="bullet5" class="control-label">
          Bullet5
        </label>

        <input type="text" id="bullet5" name="bullet5" placeholder="Bullet5" class="form-control" value="<%= @lead.bullet5 %>">
      </div>

      <!-- Label and input for bullet6 -->
      <div class="form-group">
        <label for="bullet6" class="control-label">
          Bullet6
        </label>

        <input type="text" id="bullet6" name="bullet6" placeholder="Bullet6" class="form-control" value="<%= @lead.bullet6 %>">
      </div>

      <!-- Label and input for bullet7 -->
      <div class="form-group">
        <label for="bullet7" class="control-label">
          Bullet7
        </label>

        <input type="text" id="bullet7" name="bullet7" placeholder="Bullet7" class="form-control" value="<%= @lead.bullet7 %>">
      </div>

      <!-- Label and input for mortamt -->
      <div class="form-group">
        <label for="mortamt" class="control-label">
          Mortamt
        </label>

        <input type="text" id="mortamt" name="mortamt" placeholder="Mortamt" class="form-control" value="<%= @lead.mortamt %>">
      </div>

      <!-- Label and input for batchno -->
      <div class="form-group">
        <label for="batchno" class="control-label">
          Batchno
        </label>

        <input type="text" id="batchno" name="batchno" placeholder="Batchno" class="form-control" value="<%= @lead.batchno %>">
      </div>

      <!-- Label and input for recno -->
      <div class="form-group">
        <label for="recno" class="control-label">
          Recno
        </label>

        <input type="text" id="recno" name="recno" placeholder="Recno" class="form-control" value="<%= @lead.recno %>">
      </div>

      <!-- Label and input for dw_agn -->
      <div class="form-group">
        <label for="dw_agn" class="control-label">
          Dw agn
        </label>

        <input type="text" id="dw_agn" name="dw_agn" placeholder="Dw agn" class="form-control" value="<%= @lead.dw_agn %>">
      </div>

      <button class="btn btn-success">
        Create Lead
      </button>
      or
      <a href="/leads">Cancel</a>
    </form>
  </div>
</div>
