<div class="page-header">
  <h3>Appointment #<%= @appointment.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Appt time</dt>
      <dd><%= @appointment.appt_time %></dd>

      <dt>Appt date</dt>
      <dd><%= @appointment.appt_date %></dd>

      <dt>Lead</dt>
      <dd><%= @appointment.lead_id %></dd>

      <dt>Agent</dt>
      <dd><%= @appointment.agent_id %></dd>

      <dt>Outcome</dt>
      <dd><%= @appointment.outcome %></dd>

      <dt>Notes</dt>
      <dd><%= @appointment.notes %></dd>

      <dt>Agency</dt>
      <dd><%= @appointment.agency_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/appointments" class="btn btn-primary">
        Back
      </a>
      <a href="/appointments/<%= @appointment.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_appointment/<%= @appointment.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
