<div class="page-header">
  <h3>Appointment #<%= @appointment.id %> for <%= current_agent.firstname %> <%= current_agent.lastname %></h3>
  <h4></h4>
</div>

<div class="row">
  <div class="col-md-12 mb-2">

    <div class="col-xs-6"><%= @appointment.lead.firstname %> <%= @appointment.lead.lastname %><br>
      <%= @appointment.lead.address %><br>
      <%= @appointment.lead.city %>, <%= @appointment.lead.state %>  <%= @appointment.lead.zip %><br>
      <% if @lat != nil  %><img src="https://maps.googleapis.com/maps/api/staticmap?center=<%= @lat %>,<%= @long %>&zoom=17&size=400x400&key=AIzaSyCcx5KIGriBpoW_IVL6XPF0ATamX7zg8vc" alt=""><% end  %><br><br>



    </div>
    <div class="col-xs-6">

      <dl class="dl-horizontal">


        <dt>Appt date</dt>
        <dd><%= @appointment.appt_date.strftime("%m/%d/%Y") %></dd>

        <dt>Appt time</dt>
        <dd><%= @appointment.appt_time.strftime("at %I:%M%p")%></dd>

        <dt>Agent</dt>
        <dd><%= @appointment.agent.firstname%> <%= @appointment.agent.lastname %></dd>

        <dt>Outcome</dt>
        <dd><%= @appointment.outcome %></dd>

        <dt>Notes</dt>
        <dd><%= @appointment.notes %></dd>

        <dt>Agency</dt>
        <dd><%= @appointment.agency.code %></dd>

        <dt><a href="/leads/<%= @appointment.lead.id %>">See Lead</a></dt>

      </dl>

    </div>
</div>



    <div class="btn-group btn-group-justified">
      <a href="/appointments" class="btn btn-primary">
        Back
      </a>
      <a href="/appointments/<%= @appointment.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_appointment/<%= @appointment.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
